@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/* Reset CSS abaixo */
* {

  margin: 0; /* Retirar Margem dos elementos */
  padding: 0;
  outline: 0;
  box-sizing: border-box; /* Isso irá fazer com que o padding dos elementos
  seja anexado na sua largura e na altura */

}

  body{

    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
  }

  input, button, textarea{
    font: 400 18px Roboto, sans-serif;

  }

  button{
    cursor: pointer;
  }

  form input{
    width: 100%;
    height: 60px;
    color: black;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
  }

  form textarea{
    width: 100%;
    min-height: 140px;
    color: black;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    resize: vertical;
  }

  .button{
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
  }

  .button:hover{
    filter: brightness(90%); /* Filtro do CSS que escurece em 10% */

  }

  .back-link{
    text-decoration: none;
    display: flex;  
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    font-weight: 500;
    transition: opacity 0.2s;
  }
  
  /* Estilizando o ícone svg */
  .back-link:hover{
    opacity: 0.8;
  }
  
  .back-link svg{
    margin-right: 8px;
  }