.register-container{
  width: 100%;
  max-width: 1120px;
  height: 100vh; /* Ocupar toda a altura do corpo da página */
  margin: 0 auto; /* Vai fazer que o conteúdo fique sempre centralizado */

  display: flex; /* Por padrão todos os itens que estão em logon container ficarão um ao lado do outro, a menos que abaixo */
  /* flex-direction: column; - um abaixo do outro */
  align-items: center; /* Vai alinhar os itens verticalmente ao centro */
  justify-content: center; /* Vai alinhar os itens horizontalmente ao centro */
}
.register-container .content{
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between; /* Vai jogar uma section pra esquerda e o form pra direta */
  align-items: center;
}

.register-container .content section{
  width: 100%;
  max-width: 380px;
}

.register-container .content section h1{
  margin: 64px 0 32px; /*encima, lateral, embaixo*/
  font-size: 32px;
}

.register-container .content section p{
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.register-container .content form{
  width: 100%;
  max-width: 450px;
}

.register-container .content form input{
  margin-top: 8px;
}

.register-container .content form .input-group{
  display: flex; 
}

.register-container .content form .input-group input + input{
  /*Adicionando estilização em todo input a partir do sgundo*/
  margin-left: 8px;
}
